---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: continuwuity
  namespace: continuwuity
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.38.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TZ}
    image:
      repository: forgejo.ellis.link/continuwuation/continuwuity
      tag: 0.5.5@sha256:467801ef68a22772147ac6088976d5284ec9f3a2182f004a8432ceb3af7a2319
    workload:
      main:
        enabled: true
        primary: true
        type: StatefulSet
        replicas: 1
        strategy: OnDelete
        podSpec:
          containers:
            main:
              enabled: true
              primary: true
              env:
                CONTINUWUITY_CONFIG: /config/config.toml
    service:
      main:
        ports:
          main:
            enabled: true
            port: 80
            targetPort: 8080
            protocol: http

    persistence:
      data:
        enabled: true
        type: pvc
        mountPath: /data
      backups:
        enabled: true
        type: nfs
        mountPath: /backups
        path: /mnt/MainPool/Michael/Backups/continuwuity
        server: ${TRUENAS_EXTERNAL_IP}
      config:
        enabled: true
        type: configmap
        mountPath: /config/config.toml
        subPath: config.toml
        readOnly: true
        objectName: continuwuity-config
        optional: true
        expandObjectName: false
    configmap:
      continuwuity-conf:
        enabled: true
        data:
          config.toml: |
            [global.well_known]
            rtc_focus_server_urls = [{ type = "livekit", livekit_service_url = "https://livekit.${INGRESS_URL}" },]
    ingress:
      main:
        enabled: false
        ingressClassName: external
        annotations:
          gethomepage.dev/instance: "internal"
        hosts:
          - host: matrix.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - matrix.${INGRESS_URL}
        integrations:
          homepage:
            enabled: true
            group: Default
