[global]

server_name =  "${INGRESS_URL}"
address = "0.0.0.0"
port = 8080

database_path = "/data/db"
database_backup_path = "/backups"
database_backups_to_keep = 3

allow_encryption = true

allow_federation = true
allow_registration = true
suspend_on_register = true

allow_legacy_media = false

new_user_displayname_suffix = ""

query_trusted_key_servers_first = false # NOTE: this is because continuwuity only supports Synapse as trusted key servers
query_trusted_key_servers_first_on_join = false
forbidden_remote_server_names = ["matrix.org"]
forbidden_remote_room_directory_server_names = ["matrix.org"]
url_preview_domain_explicit_denylist = ["matrix.org"]
allow_announcements_check: true
registration_token = "${CONTINUWUITY_REGISTRATION_TOKEN}"


[global.well_known]
client = "https://matrix.${INGRESS_URL}"
server = "matrix-fed.${INGRESS_URL}:443"
rtc_focus_server_urls = [
    { type = "livekit", livekit_service_url = "https://livekit.${INGRESS_URL}" },
]
