---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reubah
  namespace: reubah
spec:
  interval: 15m
  chart:
    spec:
      chart: reubah
      version: 2.13.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    podOptions:
      hostUsers: true
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          gethomepage.dev/instance: "internal"
        hosts:
          - host: reubah.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - reubah.${INGRESS_URL}
            clusterIssuer: "domain-0-wildcard"
        integrations:
          homepage:
            enabled: true
            group: Tools
            weight: 1
            widget:
              enabled: false
