---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 21.2.9
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          gethomepage.dev/instance: "internal"
        hosts:
          - host: grafana.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - grafana.${INGRESS_URL}
        integrations:
          homepage:
            enabled: true
            group: Default
            widget:
              custom:
                username: admin
                password: testpassword
                version: "2"

    # Define extra dashboards to be provisioned
    # Supports 2 formats:
    # - Importing directly from `grafana.com` via Grafana dashboard ID & revision
    # - Importing from any URL that returns a JSON file
    #
    # Additionally, each configured dashboard can be set to be:
    # - base64 decoded
    # - have its datasources replaced
    #
    # See values below for more examples
    dashboards:
      grafana:
        node-exporter:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="node-exporter-full"
            id: 1860
            revision: 42
        k8s-views-pods: #https://github.com/dotdc/grafana-dashboards-kubernetes/tree/master
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="kubernetes-views-pods"
            id: 15760
            revision: 37
        etcd:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: "$${datasource}"
          marketplace:
            # renovate: depName="etcd"
            id: 22236
            revision: 4
        k8s-views-nodes: # https://github.com/dotdc/grafana-dashboards-kubernetes/tree/master
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="kubernetes-views-nodes"
            id: 15759
            revision: 40
        k8s-views-global: # https://github.com/dotdc/grafana-dashboards-kubernetes/tree/master
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="kubernetes-views-nodes"
            id: 15757
            revision: 43
        k8s-views-namespaces: # https://github.com/dotdc/grafana-dashboards-kubernetes/tree/master
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="kubernetes-views-nodes"
            id: 15758
            revision: 44
        cert-manager:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="Cert-manager-Kubernetes"
            id: 20842
            revision: 3
        cnpg:
          enabled: false
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="CloudNativePG"
            id: 20417
            revision: 4
        flux-cluster:
          enabled: false
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          url: https://github.com/fluxcd/flux2-monitoring-example/raw/82c37257787bba13a40b17bed9bd8191ee7aa049/monitoring/configs/dashboards/cluster.json
        flux-control-plane:
          enabled: false
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          url: https://github.com/fluxcd/flux2-monitoring-example/raw/82c37257787bba13a40b17bed9bd8191ee7aa049/monitoring/configs/dashboards/control-plane.json
        metallb:
          enabled: true
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="Metallb"
            id: 20162
            revision: 6
        nginx:
          enabled: false
          failOnError: false
          b64content: false
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          url: https://github.com/kubernetes/ingress-nginx/raw/refs/tags/ingress-nginx-3.15.2/deploy/grafana/dashboards/nginx.json
    workload:
      main:
        replicas: 1
        strategy: Recreate
        podSpec:
          initContainers:
            download-dashboards:
              enabled: true
              type: init
              imageSelector: alpineImage
              command: /download-dashboards.sh
          containers:
            main:
              env:
                GF_SECURITY_ADMIN_PASSWORD: "testpassword" #change this
                GF_INSTALL_PLUGINS: ""
            dashboards:
              enabled: false
            datasources:
              enabled: false
            alerts:
              enabled: false
            plugins:
              enabled: false
            notifiers:
              enabled: false
    configmap:
      dashboard-provider:
        enabled: true
        data:
          provider.yaml: |-
            apiVersion: 1
            providers:
              - name: sidecarProvider
                orgId: 1
                folder: ''
                type: file
                disableDeletion: false
                allowUiUpdates: false
                updateIntervalSeconds: 500
                options:
                  foldersFromFilesStructure: true
                  path: /tmp/dashboards
      config:
        enabled: true
        data:
          grafana.ini: |-
            paths:
              data: /var/lib/grafana/
              logs: /var/log/grafana
              plugins: /var/lib/grafana/plugins
              provisioning: /etc/grafana/provisioning
            analytics:
              check_for_updates: true
            log:
              mode: console
            grafana_net:
              url: https://grafana.net
            server:
              domain: "{{ if (and .Values.ingress.main.enabled .Values.ingress.main.hosts) }}{{ .Values.ingress.main.hosts | first }}{{ else }}''{{ end }}"
          ldap.toml: |-
            # nope
    persistence:
      sc-dashboard-config:
        enabled: true
    # -- Whether Role Based Access Control objects like roles and rolebindings should be created
    rbac:
      main:
        enabled: false

    serviceAccount:
      main:
        enabled: true
        primary: true

    podOptions:
      automountServiceAccountToken: true

    cnpg:
      main:
        enabled: true
        user: grafana
        database: grafana
