---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: livekit
  namespace: livekit
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.31.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TZ}
    podOptions:
      hostUsers: true
    image:
      repository: livekit/livekit-server
      tag: 1.9.11@sha256:289262ffae8b827f45186331aa315d08ed275eb30f9b0add337ec57948e44ca1
    jwt-image:
      repository: ghcr.io/element-hq/lk-jwt-service
      tag: 0.4.1@sha256:6beec945a59b9b8b02161d29884abc2c1e5af9a376c1a2ccabbec3e26b07cf0c
    workload:
      main:
        enabled: true
        primary: true
        type: Deployment
        replicas: 1
        podSpec:
          terminationGracePeriodSeconds: 1800 # 5 hours if folks are using it
          containers:
            main:
              #args: "--config /etc/livekit.yaml"
              enabled: true
              primary: true
              env:
                LIVEKIT_CONFIG: |
                  {{- .Values.livekit | toYaml }}
      jwt:
        enabled: true
        type: Deployment
        replicas: 1
        podSpec:
          containers:
            jwt:
              enabled: true
              primary: true
              imageSelector: jwt-image
              env:
                #LIVEKIT_JWT_BIND: 8081
                LIVEKIT_URL: wss://livekit.${INGRESS_URL}
                LIVEKIT_KEY: ${LK_MATRIX_KEY}
                LIVEKIT_SECRET: ${LK_MATRIX_SECRET}
                LIVEKIT_FULL_ACCESS_HOMESERVERS: matrix.${INGRESS_URL}
              probes:
                liveness: &probes
                  enabled: true
                  type: http
                  port: 8081
                  path: /healthz
                readiness: *probes
                startup: *probes

    service:
      main:
        enabled: true
        ports:
          main:
            enabled: true
            protocol: http
            port: 80
            targetPort: 7880
          rtc-tcp:
            enabled: true
            port: 7881
      jwt:
        enabled: true
        ports:
          jwt:
            enabled: true
            protocol: http
            port: 8081
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        targetSelector:
          main: main
        hosts:
          - host: livekit.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - livekit.${INGRESS_URL}
      jwt:
        enabled: true
        ingressClassName: internal
        targetSelector:
          jwt: jwt
        hosts:
          - host: livekit.${INGRESS_URL}
            paths:
              - path: /sfu/get
                pathType: Prefix
              - path: /healthz
                pathType: Prefix
              - path: /get_token
                pathType: Prefix
        tls:
          - hosts:
              - livekit.${INGRESS_URL}
    persistence:
      config-vol:
        enabled: true
        type: configmap
        mountPath: /etc/livekit.yaml
        subPath: livekit.yaml
        readOnly: true
        objectName: config-map
    configmap:
      config-map:
        enabled: true
        data:
          livekit.yaml: |
            {{- .Values.livekit | toYaml | nindent 2 }}

    livekit:
      port: 7880
      bind_addresses:
        - ""
      rtc:
        tcp_port: 7881
        port_range_start: 50100
        port_range_end: 50200
        use_external_ip: false
        enable_loopback_candidate: false
        turn_servers:
          - host: turn.${INGRESS_URL}
            port: 3478
            protocol: tcp
            secret: "${LK_TURN_SECRET}"
          - host: turn.${INGRESS_URL}
            port: 5349
            protocol: tls # Only if you've set up TLS in your coturn
            secret: "${LK_TURN_SECRET}"
          - host: turn.${INGRESS_URL}
            port: 3478
            protocol: udp
            secret: "${LK_TURN_SECRET}"
      room:
        auto_create: false
      turn:
        enabled: false
      keys:
        ${LK_MATRIX_KEY}: "${LK_MATRIX_SECRET}"
