---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  interval: 15m
  chart:
    spec:
      chart: homepage
      version: 11.12.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TZ}
    persistence:
      config:
        type: emptyDir
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: homepage.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
                overrideService:
                  name: main
                  port: 10352
        tls:
          - hosts:
              - homepage.${INGRESS_URL}
            certificateIssuer: "domain-0-le-prod"
        integrations:
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"
    workload:
      main:
        podSpec:
          automountServiceAccountToken: true
          containers:
            main:
              env:
                # Set this to your host (example: home.mydomain.com)
                HOMEPAGE_ALLOWED_HOSTS: "homepage.${INGRESS_URL}"
          initContainers:
            init-config:
              enabled: false
    configmap:
      config:
        enabled: true
        data:
          custom.js: ""
          custom.css: ""
          kubernetes.yaml: |
            mode: cluster
            ingress: true
          settings.yaml: |
            ---
            # For configuration options and examples, please see:
            # https://gethomepage.dev/latest/configs/settings

            instanceName: internal

            providers:
              openweathermap: openweathermapapikey
              weatherapi: weatherapiapikey
              longhorn:
                #username: "longhorn-username" # optional
                #password: "very-secret-longhorn-password" # optional
                url: http://longhorn-backend.longhorn-system.svc.cluster.local:9500

            useEqualHeights: true

            layout:
              - Home Automation:
                  icon: mdi-home
                  style: row
                  columns: 3
              - Tools:
                  icon: mdi-tools
              - Finance:
                  icon: mdi-cash-multiple
                  #style: row
                  #columns: 3
              - Default:
                  style: row
                  columns: 3
          widgets.yaml: |
            ---
            # For configuration options and examples, please see:
            # https://gethomepage.dev/latest/configs/widgets

            - resources:
                cpu: true
                memory: true
                disk: /

            - search:
                provider: duckduckgo
                target: _blank

          services.yaml: |
            ---
            # For configuration options and examples, please see:
            # https://gethomepage.dev/latest/configs/services
            #
            - Home Automation:
                - Home Assistant:
                    href: https://hass.${INGRESS_URL}/
                    description: Home Automation Hub
                    icon: https://hass.${INGRESS_URL}/static/icons/favicon.ico

            - Finance:
                - UW Credit Union:
                    href: https://www.uwcu.org/
                    description: Online Banking
                    icon: https://www.uwcu.org/favicon.ico
                - The Banano Stand:
                    href: https://thebananostand.com/
                    description: Online Banano wallet
                    icon: https://banano.cc/icon.svg
                    widget:
                        type: customapi
                        url: https://api.spyglass.pw/banano/v1/account/overview/ban_3szzs3sfn3ar4w1xa7n3u6jp9d9wezzz4ydez1yy8ux85epryp7mux9rbsou
                        refreshInterval: 360000000 # 100 hours (4 days)
                        method: GET
                        mappings:
                            - field: balance
                              label: Banano
                              format: number
                            - field: receivable
                              label: Receivable Banano
                              format: float
            - Default:
                - Longhorn:
                    href: http://${LONGHORN_IP}
                    description: A k8s Container Storage Interface (CSI)
                    icon: sh-rancher-longhorn-light
                    #siteMonitor: http://${LONGHORN_IP}
                    app: longhorn
                    namespace: longhorn-system
                    podSelector: ""
                - TrueNAS Scale:
                    href: https://truenas.${INGRESS_URL}
                    description: Networked Attached Storage Appliance OS
                    icon: "https://truenas.${INGRESS_URL}/ui/assets/images/truenas_scale_ondark_favicon.png"
                    ping: ${TRUENAS_EXTERNAL_IP}
                    widget:
                      type: truenas
                      url: http://${TRUENAS_EXTERNAL_IP}:81
                      key: ${TRUENAS_API_KEY} # not required if using username / password
                      enablePools: "true" # optional, defaults to false
                      nasType: scale # def

          bookmarks.yaml: |
            ---
            # For configuration options and examples, please see:
            # https://gethomepage.dev/latest/configs/bookmarks

            - Michael:
                - Cluster Repo:
                    - abbr: GH
                      href: https://github.com/mgale456/ClusterTesting
                      icon: https://github.githubassets.com/favicons/favicon-dark.svg
                - Gmail:
                    - abbr: GM
                      href: https://mail.google.com/mail/u/0/#inbox
                      icon: https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico
                - Homepage docs:
                    - abbr: HP
                      href: https://gethomepage.dev/configs/
                      icon: https://gethomepage.dev/assets/favicon.ico
                - TP Link Router:
                    - abbr: TP
                      href: http://tplinkwifi.net
                      icon: http://tplinkwifi.net/webpages/themes/default/img/logo/favicon.ico

            - Mattie:
                - Library:
                    - abbr: VL
                      href: https://www.veronapubliclibrary.org/
                      icon: https://www.veronapubliclibrary.org/sites/www.veronapubliclibrary.org/themes/custom/bootstrap_ver/favicon.ico
                - Fitchburg Library:
                    - abbr: FL
                      href: http://fitchburgwi.gov/2775/Library
                      icon: http://fitchburgwi.gov/images/favicon.ico

            - TrueCharts:
                - TrueCharts:
                  - abbr: TC
                    icon: https://truecharts.org/svg/favicon.svg
                    href: https://truecharts.org/charts/description-list/
                    description: "TrueCharts Website"
                - Github:
                  - abbr: GH
                    icon: https://github.com/fluidicon.png
                    href: https://github.com/truecharts
                    description: "TrueCharts GitHub"
                - MrPuffin's Cluster Repo:
                  - abbr: GH
                    href: https://github.com/PrivatePuffin/cluster
                    icon: https://github.com/fluidicon.png
                    description: "Cluster Repo"
                - Open Collective:
                  - abbr: TC
                    icon: https://opencollective.com/favicon.ico
                    href: https://opencollective.com/truecharts
                    description: "TrueCharts Open Collective"
                - Discord:
                  - abbr: DC
                    icon: https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://discord.com&size=32
                    href: https://truecharts.org/s/discord
                    description: "TrueCharts Discord"

    forceConfigFromValues: true
