---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stunner
  namespace: stunner-system
spec:
  interval: 15m
  chart:
    spec:
      chart: stunner-gateway-operator
      version: 1.1.0
      sourceRef:
        kind: HelmRepository
        name: stunner
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
