---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
  namespace: frigate
spec:
  interval: 15m
  chart:
    spec:
      chart: frigate
      version: 18.15.10
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  #  targetNamespace: jellyfin
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TZ}
    # When this is defined, the contents will be mounted
    # as configmap into the container at /config/config.yml.
    frigateConfig:
      cameras:
        camera1:
          detect:
            height: 480
            width: 704
          motion:
            mask: 0.727,0.04,0.976,0.036,0.98,0.086,0.726,0.084
          ffmpeg:
            inputs:
              - input_args: "preset-rtsp-restream"
                path: "rtsp://127.0.0.1:8554/camera1"
                roles:
                  - "record"
              - input_args: "preset-rtsp-restream"
                path: "rtsp://127.0.0.1:8554/camera1_sub"
                roles:
                  - "detect"
          record:
            enabled: true
          snapshots:
            enabled: true
      go2rtc:
        streams:
          camera1:
            - "rtsp://viewer:${FRIGATE_RTSP_PASS}@192.168.1.101:554/cam/realmonitor?\
              channel=1&subtype=0"
          camera1_sub:
            - "rtsp://viewer:${FRIGATE_RTSP_PASS}@192.168.1.101:554/cam/realmonitor?\
              channel=1&subtype=1"
        webrtc:
          candidates:
            - "192.168.0.54:8555"
      mqtt:
        enabled: false
        host: "mosquitto.mosquitto.svc.cluster.local"
        password: "SHDdsbcnNqfc4zKdN9y"
        user: "frigate"
      objects:
        track:
          - "cat"

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${FRIGATE_IP}
        integrations:
          metallb:
            enabled: true
      rtmp:
        enabled: false
      rtsp:
        type: LoadBalancer
        loadBalancerIP: ${FRIGATE_IP}
        enabled: true
        integrations:
          metallb:
            enabled: true
      webrtc:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${FRIGATE_IP}
        integrations:
          metallb:
            enabled: true
    persistence:
      media:
        enabled: true
        type: nfs
        mountPath: /media
        path: /mnt/MainPool/media/frigate
        server: ${TRUENAS_EXTERNAL_IP}
      config:
        enabled: true
        mountPath: /config

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          gethomepage.dev/instance: "internal"
        hosts:
          - host: frigate.${INGRESS_URL}
            paths:
              - overrideService:
                  name: main
                  port: 10500
                path: /
                pathType: Prefix
        integrations:
          certManager:
            certificateIssuer: domain-0-le-prod
            enabled: true
          homepage:
            enabled: true
            group: Home Automation
            widget:
              custom:
                enableRecentEvents: "true"
        tls:
          - hosts:
              - frigate.${INGRESS_URL}
    workload:
      main:
        podSpec:
          nodeSelector:
            ${INGRESS_URL}.node-restriction.kubernetes.io/camera-nic: "true"
