---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: valetudo-external-service
  namespace: valetudo-external-service
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: valetudo.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
                overrideService:
                  name: main
                  port: 80
        tls:
          - hosts:
              - valetudo.${INGRESS_URL}
        integrations:
          homepage:
            enabled: true
            icon: http://192.168.0.208/favicon.ico
            group: Home Automation
            widget:
              enabled: false
    service:
      main:
        type: ExternalIP
        externalIP: "192.168.0.208"
        useSlice: false
        ports:
          main:
            protocol: http
            port: 80
            # Target port is the port of the "external service"
            # Defaults to "port" if not set
    workload:
      main:
        enabled: false
        podSpec:
          containers:
            main:
              env: {}
