apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gatus
  namespace: gatus
spec:
  interval: 15m
  chart:
    spec:
      chart: gatus
      version: 2.22.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: ${TZ}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          gethomepage.dev/instance: "internal"
          gatus.home-operations.com/endpoint: |
            enabled: false
        hosts:
          - host: gatus.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - gatus.${INGRESS_URL}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: "domain-0-wildcard"
          homepage:
            enabled: true
            group: Default
    cnpg:
      main:
        enabled: false
    configSidecarImage:
      repository: ghcr.io/home-operations/gatus-sidecar
      pullPolicy: IfNotPresent
      tag: 0.0.12@sha256:83bf82d422e9b0529a8076cb584d557a12158d9d8a4c373b4d27afcb87a17569
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                GATUS_CONFIG_PATH: /config
                GATUS_DELAY_START_SECONDS: 5
            config-sidecar:
              enabled: true
              imageSelector: configSidecarImage
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              args:
                - --auto-ingress=true
                - --enable-ingress=true
                - --enable-httproute=false
                - --enable-service=false
                - --default-interval=5m
                #- --auto-routes=false
                #- --auto-services=false
                #- --auto-group=true
                #- --output=/config/gatus-sidecar.yaml
                #- --default-dns=tcp://blocky-dns.blocky.svc.cluster.local:53
    persistence:
      config-dir:
        enabled: true
        mountPath: /config
        type: emptyDir
        targetSelectAll: true
    # -- Whether Role Based Access Control objects like roles and rolebindings should be created
    rbac:
      main:
        enabled: true
        primary: true
        clusterWide: true
        rules:
          - apiGroups:
              - "networking.k8s.io"
            resources:
              - "ingresses"
              - "ingressclasses"
            verbs:
              - "get"
              - "list"
              - "watch"
          - apiGroups: [""]
            resources:
              - "configmaps"
              - "secrets"
              - "services"
            verbs:
              - "get"
              - "list"
              - "watch"
          - apiGroups:
              - gateway.networking.k8s.io
            resources:
              - httproutes
            verbs:
              - get
              - watch
              - list
    # -- The service account the pods will use to interact with the Kubernetes API
    serviceAccount:
      main:
        enabled: true
        primary: true

    podOptions:
      automountServiceAccountToken: true

    configmap:
      config:
        enabled: true
        data:
          config.yaml: |
            endpoints:
              - name: Home Assistant
                group: Home Automation
                url: http://${HASS_EXTERNAL_IP}:8123
                interval: 300s
                conditions:
                  - "[STATUS] == 200"
              - name: Blocky DNS
                group: Kubernetes
                url: ${BLOCKY_IP}
                interval: 300s
                dns:
                  query-name: google.com
                  query-type: "A"
                conditions:
                  - "[DNS_RCODE] == NOERROR"
              - name: Adguard DNS
                group: Home Automation
                url: ${HASS_EXTERNAL_IP}
                interval: 300s
                dns:
                  query-name: google.com
                  query-type: "A"
                conditions:
                  - "[DNS_RCODE] == NOERROR"
              - name: TrueNAS Scale
                group: Other
                url: http://${TRUENAS_EXTERNAL_IP}:81
                interval: 300s
                conditions:
                  - "[STATUS] == 200"
