apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: capacitor
  namespace: flux-system
spec:
  interval: 15m
  chart:
    spec:
      chart: capacitor
      version: 0.2.2
      sourceRef:
        kind: HelmRepository
        name: capacitor
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/gimlet-io/capacitor
      tag: "v0.4.8"
      pullPolicy: IfNotPresent

    # -- ServiceAccount
    serviceAccount:
      name: capacitor
      annotations: {}

    # -- Resources
    resources:
      requests:
        cpu: 10m
        memory: 200Mi

    # -- Service
    service:
      annotations: {}
      labels: {}
      type: LoadBalancer
      port: 9000
