---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.17
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/home-operations/home-assistant
      pullPolicy: IfNotPresent
      tag: "2025.12.3"
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${HOME_ASSISTANT_IP}
        integrations:
          metallb:
            enabled: true
        ports:
          main:
            port: 8123
            targetPort: 8123
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          gethomepage.dev/instance: "internal"
        hosts:
          - host: home-assistant.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - home-assistant.${INGRESS_URL}
        integrations:
          homepage:
            enabled: true
            group: Home Automation
            widget:
              enabled: false
    persistence:
      config:
        enabled: true
        mountPath: /config
        targetSelector:
          main:
            main: {}
            codeserver:
              mountPath: /config/workspace
      venv-cache:
        enabled: true
        mountPath: /config/.venv
        targetSelectAll: true
    addons:
      codeserver:
        # -- Enable running a code-server container in the pod
        enabled: true

        ingress:
          # -- Enable an ingress for the code-server add-on.
          enabled: true
          ingressClassName: internal
          hosts:
            - host: cs-home-assistant.${INGRESS_URL}
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - cs-home-assistant.${INGRESS_URL}
