---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  interval: 15m
  chart:
    spec:
      chart: home-assistant
      version: 28.19.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/home-operations/home-assistant
      pullPolicy: IfNotPresent
      tag: "2025.12.1"
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: ${HOME_ASSISTANT_IP}
        ports:
          main:
            port: 8123
            targetPort: 8123
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          gethomepage.dev/instance: "internal"
        hosts:
          - host: home-assistant.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - home-assistant.${INGRESS_URL}
        integrations:
          homepage:
            enabled: true
            group: Home Automation
            widget:
              enabled: false
    persistence:
      config:
        enabled: true
        mountPath: /config
        targetSelectAll: true
