---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hypermind
  namespace: hypermind
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.64
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/lklynet/hypermind
      pullPolicy: IfNotPresent
      tag: 0.14.0@sha256:4709bda386b8ec4df0bc71ceed9b0af62bf002de248b32f5ffd60ae1b7c5be52
    securityContext:
      container:
        readOnlyRootFilesystem: false
    service:
      main:
        ports:
          main:
            port: &port 3000
            protocol: http
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                PORT: *port
                ENABLE_CHAT: true
                ENABLE_MAP: true
                VISUAL_LIMIT: 1000
                MAX_CONNECTIONS: 15
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
      requests:
        cpu: 500m
        memory: 200Mi
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: hypermind.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - hypermind.${INGRESS_URL}
