---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hypermind
  namespace: hypermind
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.54
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/lklynet/hypermind
      pullPolicy: IfNotPresent
      tag: latest@sha256:64d58b62ac67a34a25d985311d28a3b7bc3721e4f3caa55b8ab7f417f0372c68
    securityContext:
      container:
        readOnlyRootFilesystem: false
    service:
      main:
        ports:
          main:
            port: &port 3000
            protocol: http
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                PORT: *port
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
      requests:
        cpu: 500m
        memory: 200Mi
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          gethomepage.dev/instance: "internal"
        hosts:
          - host: hypermind.${INGRESS_URL}
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - hypermind.${INGRESS_URL}
